<h2 style="color:#3b5998;padding-top:30px"><a name="links">Links</a></h2>

<p></p>

<ul>

  <li>Other related seminars at CMU:
    <ul>
  <!-- <li><a href="http://www.cs.cmu.edu/%7Elearning/">Machine Learning Lunch</a></li>  -->
  <!-- <li><a href="http://calendar.cs.cmu.edu/ml/google_seminar">ML/Google Distinguished Lectures</a></li> -->
  <li><a href="https://www.cs.cmu.edu/~aiseminar/">AI Seminar</a></li>
  <li><a href="https://www.cs.cmu.edu/~theorylunch/">Theory Lunch</a></li>
    </ul>
  </li>

  <li>
    CMU's <a href="https://www.cs.cmu.edu/calendar">School of Computer Science (SCS) event calendar</a>
  </li>
</ul>

</div>
</div>
</div>
</body></html>
